.cube-box{
    position:absolute;
}

.cube-box-row-0{
    top: 2px;
}
.cube-box-row-1{
    top: 25px;
}
.cube-box-row-2{
    top: 48px;
}
.cube-box-row-3{
    top: 72px;
}
.cube-box-row-4{
    top: 95px;
}
.cube-box-row-5{
    top: 118px;
}
.cube-box-row-6{
    top: 142px;
}
.cube-box-row-7{
    top: 165px;
}
.cube-box-row-8{
    top: 188px;
}


.cube-box-col-0{
    left: 2px;
}
.cube-box-col-1{
    left: 25px;
}
.cube-box-col-2{
    left: 48px;
}
.cube-box-col-3{
    left: 72px;
}
.cube-box-col-4{
    left: 95px;
}
.cube-box-col-5{
    left: 118px;
}
.cube-box-col-6{
    left: 142px;
}
.cube-box-col-7{
    left: 165px;
}
.cube-box-col-8{
    left: 188px;
}
.cube-box-col-9{
    left: 212px;
}
.cube-box-col-10{
    left: 235px;
}
.cube-box-col-11{
    left: 258px;
}

.cube {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black; 
    margin: 1px;
    display: inline-block;
    text-align: center;
}

.cube-number{
    display: none;
}

.cube-editable{
    border-width: 1px;
    border-style: dotted;
    border-color: blue;
    cursor: pointer;
}

.cube-selected {
    border: 1px solid rgb(0, 255, 0);
}

.cube-selected::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 12px solid rgb(0, 255, 0);
    border-left: 12px solid transparent;
}
.cube-selected::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: transparent;
    bottom: 2px;
    right: 0px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
    z-index: 9;
}

.cube-changed{
    border-color: rgb(0, 255, 0);
    border-style: solid;
    border-width: 2px;
}