body {
    overflow-y: hidden; 
    margin: 0; 
}
.right-control-panel{
    right: 10px;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: rgba(191,191,191,0.4);
    padding: 10px 10px;
}
.right-control-panel .trans-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.right-control-panel .trans-button a{
    text-decoration:none;
    color:gray;
}

.bottom-control-panel{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    background-color: rgba(191,191,191,0.4);
    box-sizing: border-box;
}
.bottom-control-panel .command-panel{
    width: 63%;
    display: inline-block;
    padding: 10px 10px;
    height: 160px;
    border-right: 1px dotted rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}
.bottom-control-panel .action-panel{
    display: inline-block; 
    width: 36%;
    height: 160px;
    padding: 10px 10px;
    box-sizing: border-box;
    position: absolute;
    overflow: auto;
}
.action-control{
    margin: 3px 3px;
    border-radius: 2px;
    border: 1px solid black; 
    cursor: pointer;
    font-size: 10px;
}
.action-control-group{
    border: 1px dotted rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1px;
}
.log-output{
    width:92%;
    height: 100px;
}

.command-input{
    width: 90%;
}

#textCleanBtn{
    vertical-align:top;
}

.eye-button{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.eye-button span{
    width: 2px;
    height: 2px;
    position: absolute;
}
.eye-button span:nth-of-type(1){
    right: 20%;
    top: 20%;
    background-color: #009E60;
}
.eye-button span:nth-of-type(2){
    right: 50%;
    top: 20%;
    background-color: #FF5800;
}
.eye-button span:nth-of-type(3){
    right: 80%;
    top: 20%;
    background-color: #FFD500;
}
.eye-button span:nth-of-type(4){
    right: 20%;
    top: 50%;
    background-color: #C41E3A;
}
.eye-button span:nth-of-type(5){
    right: 50%;
    top: 50%;
    background-color: #FFFFFF;
}
.eye-button span:nth-of-type(6){
    right: 80%;
    top: 50%;
    background-color: #0051BA;
}
.eye-button span:nth-of-type(7){
    right: 20%;
    top: 80%;
    background-color: #FFD500;
}
.eye-button span:nth-of-type(8){
    right: 50%;
    top: 80%;
    background-color: #FF5800;
}
.eye-button span:nth-of-type(9){
    right: 80%;
    top: 80%;
    background-color: #009E60;
}

.debug-clz{
    display: none;
}

#over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(145,152, 159, 0.5);
    z-index: 20;
}

#over>div {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
}

.group-panel{
    border: 1px solid gray; 
    border-radius: 5px; 
    padding: 5px; 
    margin-top: 5px;
}